.App {
  font-family: 'Cinzel Decorative', cursive;
  background: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive;
}

.header {
  height: 500px;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/13/b9/11/13b91109356b3808d8111bf6db8e40b2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgba(255,255,255,.7);
}
